body {
    background: #215A6D;
    font: 12pt Georgia;
    color: #f2f2f2;
    margin: 0;
    padding: 0;

}

a {
    color: #f2f2f2;
    text-decoration: none;
}

#footer {
    position: absolute;
    left: 25%;
    bottom: 100px;
    text-align: center;
    margin-bottom: -110px;
    clear: both;
    z-index: 3;
}

.tomottoWrap {
    position: relative;
    background: #3CA2A2;
}

#tomotto {
    text-align: center;
    width: 960px;
    letter-spacing: 2px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    line-height: 36px;
    margin: auto;
}

.lookWrap {
    position: relative;
    background-color: #215A6D;
    float: left;
    width: 100%;
}

#look {
    margin: auto;
    width: 700px;
}

.section {
    overflow: hidden;
    float: left;
    display: inline;
    width: 160px;
    margin: 0 15px 15px 0;
    font: 10pt verdana;
    line-height: 1.6em;
}

.section h3 {
    font-weight: normal;
    font: 12pt Georgia;
    text-transform: uppercase;
    color: #f2f2f2;
}

.section a {
    display: block;
}

.legality {
    margin: auto;
    width: 700px;
    text-align: center;
    clear: both;
    font: 10pt verdana;
    line-height: 2em;
    padding: 40px 0 0 0;
}